# Introduction Notebook
### Objectives
##### After completing this lab I will be able to:
* Acquire data in various ways
* Obtain insights from data with Pandas library

# Data Acquisition
###### There are various formats for a dataset: .csv, .jsonn. xlsx etc. The dataset can be stored in different places, on your local machine or sometimes online.
 ##### In this section, I will learn how to load a dataset into jupyter Notebook.

 ||

In [16]:
import pandas as pd
import numpy as np

## Read Data
##### We use pandas.read_csv() funnction to read the csv file. In the brackets, we put the file path along with a quotationn mark so that pandas will read the file into a dataframe from that address. The file path can be either a URL or your local filee address.

In [2]:
path = '/Users/robertocandelario/DataGripProjects/Data analysis with python/Video Game Sales with Rating/Video_Games_Sales_as_at_22_Dec_2016.csv'

In [17]:
# Import pandas library
import pandas as pd
import numpy as np
# Read the file by the URL provided
df = pd.read_csv(path)

###### After reading the dataset, we can use the dataframe.head(n) method to check the top n rowss of the dataframe, where n is an integer. Countrary to dataframe.head(n), dataframe.tail(n) will show the bottom n rows of the dataframe.

In [6]:
# SHow the first 5 rows using dataframe.head() method
print("The first 5 rowss of the dataframe")
df.head()

The first 5 rowss of the dataframe

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## Question 1:
##### Check the bottom 10 rows of the dataframe "df".

In [7]:
df.tail(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
16709,15 Days,PC,2009.0,Adventure,DTP Entertainment,0.00,0.01,0.00,0.0,0.01,63.0,6.0,5.8,8.0,DTP Entertainment,NaN
16710,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01,NaN,NaN,tbd,NaN,Atari,T
16711,Aiyoku no Eustia,PSV,2014.0,Misc,dramatic create,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16712,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16713,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
### Count number of N/A
df.describe(include=['object'])

,Name,Platform,Genre,Publisher,User_Score,Developer,Rating
count,16717,16719,16717,16665,10015,10096,9950
unique,11562,31,12,581,96,1696,8
top,Need for Speed: Most Wanted,PS2,Action,Electronic Arts,tbd,Ubisoft,E
freq,12,2161,3370,1356,2425,204,3991

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [11]:
df.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

##### We need to replace the ? symbol with Nan so the dropna() can remove the missinng values

In [19]:
df1 = df.replace("?", np.NaN)

##### We can drop missing values along the column "normalized_losses" ass follows:

In [21]:
df = df1.dropna(subset=["Critic_Score"], axis=0)

In [22]:
###### Now, we have successfully read the raw dataset and added the correct headers into the dataframe.

In [23]:
## Question #2:
#### Find the name of the columns of the dataframe.

In [26]:
print(df.columns)

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

#### Save Dataset
###### Correspondingly, Pandas enables us to save the dataset to csv. By using the dataframe.to_csv() method, you can add the file path and name along with quotation marks in the brackets.
###### For example, if you wojuld save the dataframe df as videogame.csv to your local machine, you may use the syntax below, where index = False means the row names will not be written.

In [27]:
df.to_csv("Video_Games_Sales.csv", index= False)

##### We can alsso read and save other file formats. we can use similar functions like pd.read_csv() and df.to_csv() for other data formats. The functions are listed in the following table:

## Data Types
##### Data has variety of types.
##### The main type stored in Pandas Dataframes are object, float, int, bool and datatime64. In order to better learn about each attribute, it is always good for us to know the data type of each column. In Pandas:

In [30]:
df.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

##### A series with data type of each column is returned.

In [32]:
# Check the data type of data frame "df" by.dtypes
print(df.dtypes)

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

##### As shown above, it is clear to see that the data type of "User_score" is object, and "User_count" is float64
##### These data types can be changed; we will learn how to accomplish this in a later module.

## Describe
#### If we would like to get a sstatistical summary of each column e.g. count, column mean value, column standard deviation, etc., we use the describe method:

In [35]:
df.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,7983.000000,8137.000000,8137.000000,8137.000000,8137.000000,8137.000000,8137.000000,8137.000000,7017.000000
mean,2007.192785,0.352980,0.208311,0.055028,0.072435,0.689035,68.967679,26.360821,173.432664
std,4.189425,0.896476,0.635622,0.265075,0.249204,1.816704,13.938165,18.980495,581.977516
min,1985.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2004.000000,0.050000,0.010000,0.000000,0.010000,0.090000,60.000000,12.000000,11.000000
50%,2007.000000,0.130000,0.050000,0.000000,0.020000,0.240000,71.000000,21.000000,27.000000
75%,2010.000000,0.340000,0.180000,0.010000,0.060000,0.650000,79.000000,36.000000,89.000000
max,2016.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,10665.000000

###### This shows the statistical summary of all numeric-typed(int, float) columns.
###### However, what if we would also like to check all the columns inncluding those that are of type object?
###### You can add an argument include ="all" inside the bracket. Let's try it again.

In [36]:
df.describe(include="all")

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
count,8137,8137,7983.000000,8137,8133,8137.000000,8137.000000,8137.000000,8137.000000,8137.000000,8137.000000,8137.000000,8099,7017.000000,8131,8054
unique,5085,17,NaN,12,303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90,NaN,1466,7
top,Madden NFL 07,PS2,NaN,Action,Electronic Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tbd,NaN,EA Canada,E
freq,9,1298,NaN,1890,1029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1082,NaN,159,2808
mean,NaN,NaN,2007.192785,NaN,NaN,0.352980,0.208311,0.055028,0.072435,0.689035,68.967679,26.360821,NaN,173.432664,NaN,NaN
std,NaN,NaN,4.189425,NaN,NaN,0.896476,0.635622,0.265075,0.249204,1.816704,13.938165,18.980495,NaN,581.977516,NaN,NaN
min,NaN,NaN,1985.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,NaN,4.000000,NaN,NaN
25%,NaN,NaN,2004.000000,NaN,NaN,0.050000,0.010000,0.000000,0.010000,0.090000,60.000000,12.000000,NaN,11.000000,NaN,NaN
50%,NaN,NaN,2007.000000,NaN,NaN,0.130000,0.050000,0.000000,0.020000,0.240000,71.000000,21.000000,NaN,27.000000,NaN,NaN
75%,NaN,NaN,2010.000000,NaN,NaN,0.340000,0.180000,0.010000,0.060000,0.650000,79.000000,36.000000,NaN,89.000000,NaN,NaN
max,NaN,NaN,2016.000000,NaN,NaN,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,NaN,10665.000000,NaN,NaN