# Data Wrangling
## Objectives
** Handle missing values
** Correct data format
** standardize and normalize data

### Purpose of data wrangling?
#### Data wranglingn is the process of connverting deata from the initial format to a format that may be better for analysis

In [2]:
# Import packages
import pandas as pd
import matplotlib.pylab as plt

## Reading the data

In [26]:
path = "/Users/robertocandelario/DataGripProjects/Data analysis with python/House Rent Prediction Dataset (kaggle)/House_Rent_Dataset.csv"

In [27]:
df = pd.read_csv(path)

In [28]:
df.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

# Identify and handle missing values

### Evaluating for missing Data

In [29]:
missing_data = df.isnull()
missing_data.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False

### Count missign values in each column

In [30]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

Posted On
False    4746
Name: Posted On, dtype: int64

BHK
False    4746
Name: BHK, dtype: int64

Rent
False    4746
Name: Rent, dtype: int64

Size
False    4746
Name: Size, dtype: int64

Floor
False    4746
Name: Floor, dtype: int64

Area Type
False    4746
Name: Area Type, dtype: int64

Area Locality
False    4746
Name: Area Locality, dtype: int64

City
False    4746
Name: City, dtype: int64

Furnishing Status
False    4746
Name: Furnishing Status, dtype: int64

Tenant Preferred
False    4746
Name: Tenant Preferred, dtype: int64

Bathroom
False    4746
Name: Bathroom, dtype: int64

Point of Contact
False    4746
Name: Point of Contact, dtype: int64

## From the data above, All columns are full and there is no missing data
## If data was missing "True" would be a category with the number of missing items

#### Let's list the dat types for each column and fix them if necessary

In [31]:
df.dtypes

Posted On            object
BHK                   int64
Rent                  int64
Size                  int64
Floor                object
Area Type            object
Area Locality        object
City                 object
Furnishing Status    object
Tenant Preferred     object
Bathroom              int64
Point of Contact     object
dtype: object

#### The dtypes look appropriate

## Clean Floor column

In [32]:
data = df['Floor'].str.split(' out of ', 1, expand=True).rename(columns= {0: 'Floor level', 1: 'Total Floors'})

In [33]:
data.head()

  Floor level Total Floors
0      Ground            2
1           1            3
2           1            3
3           1            2
4           1            2

In [34]:
data['Floor level'] = data.apply(lambda x: 1 if x['Floor level'] == 'Ground' \
                                 else ( -1 if x['Floor level'] == 'Lower Basement' else (x['Total Floors'])), axis=1)

In [35]:
data.head()

  Floor level Total Floors
0           1            2
1           3            3
2           3            3
3           2            2
4           2            2

In [36]:
data.tail()

     Floor level Total Floors
4741           5            5
4742           4            4
4743           5            5
4744          34           34
4745           5            5

In [37]:
data

     Floor level Total Floors
0              1            2
1              3            3
2              3            3
3              2            2
4              2            2
...          ...          ...
4741           5            5
4742           4            4
4743           5            5
4744          34           34
4745           5            5

[4746 rows x 2 columns]

In [38]:
df['Floor level'] = data['Floor level']
df['Total floors'] = data['Total Floors']

KeyError: "['floor'] not found in axis"

In [39]:
df.drop('Floor', axis=1, inplace= True)

In [40]:
df.head()

,Posted On,BHK,Rent,Size,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Floor level,Total floors
0,2022-05-18,2,10000,1100,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner,1,2
1,2022-05-13,2,20000,800,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,3,3
2,2022-05-16,2,17000,1000,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,3,3
3,2022-07-04,2,10000,800,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner,2,2
4,2022-05-09,2,7500,850,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner,2,2

In [41]:
df.to_csv('House_Rent_Dataset(2).csv')